@property --grad-c1 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsl(0 0% 0%);
}
@property --grad-c2 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsl(0 0% 0%);
}
@property --grad-c3 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsl(0 0% 0%);
}
@property --grad-c4 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsl(0 0% 0%);
}
