@use '@styles/variables';

.heroButton {
  display: block;
  padding: 46px;
  margin: 0 auto;

  svg {
    display: block;
    width: 60px;
    height: 60px;
    stroke: var(--hero-stroke-color, var(--color-text-secondary));
    transition: stroke variables.$duration ease-in-out;
  }

  &:hover svg {
    stroke: var(--color-text-secondary);
  }
}

.round {
  border-radius: 50%;
}
