@use '@styles/variables';

.controls {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 24px;
  background-color: variables.$color-background;
  padding: 12px 0 24px;
  z-index: 2;
}

.button-controls {
  width: 128px;
}

@media (min-width: 768px) {
  .controls {
    position: static;
  }
}
