@use '@styles/variables';

.controls {
  // position: fixed;
  // bottom: 0;
  // left: 0;
  // right: 0;
  display: flex;
  justify-content: center;
  gap: 24px;
  background-color: variables.$color-background;
  padding: 20px 0 24px;
  z-index: 2;
  order: 1;
}

.button-controls {
  width: 140px;
}

@media (min-width: 768px) {
  .controls {
    order: 0;
  }
}
