@use '@styles/variables';

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  padding: 12px 20px;
}

.title {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  margin: 0;
}

.close {
  width: 24px;
  height: 24px;
  background: transparent;
  border-radius: variables.$border-radius;
  border: 0;
  cursor: pointer;

  svg {
    display: block;
    width: 24px;
    height: 24px;
    stroke: var(--color-text-primary);
    transition: stroke variables.$duration-fast ease-in-out;
  }

  &:hover svg {
    stroke: var(--color-primary);
  }
}

.content {
  padding: 20px;
  overflow: auto;
}
