@use '@styles/variables';

.timer {
  flex: 0 0 auto;
  font-size: 52px;
  font-family: variables.$font-family-numbers;
  line-height: 1.1;
  text-align: center;
  background-color: variables.$color-background;

  &--long {
    font-size: 48px;
  }
}

@media (min-width: 370px) {
  .timer {
    font-size: 56px;

    &--long {
      font-size: 52px;
    }
  }
}

@media (min-width: 480px) {
  .timer {
    font-size: 68px;

    &--long {
      font-size: 60px;
    }
  }
}
