@use '@styles/variables';

.timer {
  flex: 0 0 auto;
  font-size: 58px;
  font-family: variables.$font-family-numbers;
  line-height: 1.1;
  text-align: center;
  // background-color: variables.$color-background;
  margin-top: 56px;
  margin-bottom: 56px;

  &--3digit {
    font-size: 52px;
  }

  &--4digit {
    font-size: 48px;
  }
}

.display {
  position: relative;
  min-height: 1.2em;
  padding: 4px 0;
  user-select: none;
  -webkit-user-select: none;
}

.displayClickable {
  cursor: pointer;
}

.value {
  transition: transform variables.$duration ease-in-out,
    opacity variables.$duration ease-in-out;
  will-change: transform, opacity;
}

.valueCompact {
  transform: translateY(-90px) scale(0.285);

  &.timer--3digit {
    transform: translateY(-90px) scale(0.3167);
  }

  &.timer--4digit {
    transform: translateY(-90px) scale(0.342);
  }
}

.alt {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  color: variables.$color-text-secondary;
  opacity: 0;
  transform: translate(111px, 121px) scale(0.32);
  transition: color variables.$duration ease-in-out,
    opacity variables.$duration ease-in-out,
    transform variables.$duration ease-in;
  pointer-events: none;
}

.altSoft {
  opacity: 0.5;
  transform: none;
}

.altPulse,
.altPulse.altShown {
  opacity: 0.5;
}

.altShown {
  color: variables.$color-text-primary;
  opacity: 1;
  transform: translateY(0) scale(1);
}

.altSoft.altShown {
  transform: none;
}

@media (min-width: 370px) {
  .timer {
    font-size: 60px;

    &--3digit {
      font-size: 54px;
    }

    &--4digit {
      font-size: 50px;
    }
  }
}

@media (min-width: 410px) {
  .timer {
    font-size: 68px;

    &--3digit {
      font-size: 60px;
    }

    &--4digit {
      font-size: 56px;
    }
  }
}

@media (min-width: 480px) {
  .timer {
    font-size: 80px;

    &--3digit {
      font-size: 72px;
    }

    &--4digit {
      font-size: 64px;
    }
  }
}
